<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a href="#" class="logo">NourishHope</a>
    </div>
    
    <button class="navbar-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <div class="navbar-menu" [class.active]="isMenuOpen">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Donate</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About Us</a>
        </li>
      </ul>
      <div class="navbar-auth">
        <a href="#" class="auth-link register">Register</a>
        <a [routerLink]="['login']" class="auth-link login">Login</a>
      </div>
    </div>
  </div>
</nav>
