<div class="admin-layout">
  <!-- Navbar -->
  <app-admin-navbar class="admin-navbar" (themeToggle)="toggleTheme()"></app-admin-navbar>

  <!-- Main Content -->
  <main class="main-content">
    <div class="content-body">
      <div *ngIf="verified; then verifiedHotel; else unVerifiedHotel"></div>
    </div>
  </main>
</div>

<ng-template #verifiedHotel>
  <app-verified-card [verifiedUser]="getAllVerfiedHotel()"></app-verified-card>
</ng-template>

<ng-template #unVerifiedHotel>
  <app-unverified-card [unVerifiedUser]="getAllUnVerfiedHotel()"></app-unverified-card>
</ng-template>
